##############################
## Folders                  ##
##############################

.vs
obj
Library
Temp

##############################
## Files         ##
##############################

Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
sanxiao.sln